/* BASIC SETUP */

.App {
  padding: 2%;
  text-align: center;
  font-size: 16px;
  font-family: Arial;
}

.landing {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:50%;
  margin: auto;
}

.list-item {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    width:100%;
}

.container {
    position:relative;
    width: 100%;
}

/* Start automatically check box */

.start-automatically-checkbox {
    text-align:left;
    padding-bottom:15px;
}

/* Filter finished pomos dropdown */

.filter-finished-pomos-dropdown {
    text-align:right;
    padding-bottom:15px;
}
/* INPUT BOXES */

.text-input-container {
    text-align:left;
}

.rename-task {
    width:100%;
    padding-left:10px;
}

/* BADGES */

.badge {
    margin: 8px;
    text-align: middle;
}

.badge-tag {
    background-color:#77b300;
}

.task-badges {
    display: inline-block;
    text-align: left;
    width:40%;
    /* margin-right: 50px; */
}

/* LIST OF TASKS */

.list-group-item-started {
    text-align: left;
    border-bottom: solid 5px black;
}

.list-item-text {
    text-align: left;
    display: inline-block;
    padding:8px;
    width:45%;
    overflow-wrap: normal;
    word-wrap: break-word;
    vertical-align: middle;
}

.right-button {
    display: inline-block;
    padding-left: 25px;
    width: 12%;
    vertical-align: middle;
}

.right-button img {
    width: 25px;
    height: 25px;
    transform: translate(-30%,-12%);
}

.btn-success {
    width: 37px;
    height: 37px;
}

.finished-tasks-checkbox {
    text-align:right;
}

/* TIMER COMPONENT */ 

.timer {
    display: inline-block;
    height:25px;
    margin-top:75px;
    margin-bottom:130px;
    margin-right:20px;
    vertical-align: middle;
}

.timer img {
    width:70px;
    height:auto;
    margin-right:15px;
}

.timer-text {
    display: inline-block;
    vertical-align: middle;
}

.timer-time {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.timer-task {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
    line-height: 1px;
    padding: 3px;
}

.timer-buttons {
    padding: 25px;
}

.timer-button {
    width: 35px;
    height: 35px;
}

.timer-button img {
    width: 25px;
    height: 25px;
    transform: translate(-30%,-15%);
}

/* LIST OF FINISHED POMODOROS */

.pomos-list-title {
    padding-bottom: 5px;
}

.list-group-item-date {
    text-align: left;
    border-bottom: solid 3px black;
    border-top: solid 2px black;
}

.list-group-item-pomo {
    text-align: left;
}

.date-item-text {
    display: inline-block;
    width:29%;
    vertical-align: middle;
}

.finished-pomodoros-date-field {
    display: inline-block;
    text-align: left;
    width: 23%;
    vertical-align: middle;
    margin-right: 55px;
}

.finished-pomodoros-title-field {
    display: inline-block;
    text-align: left;
    width:60%; 
    vertical-align: middle;
    overflow-wrap: normal;
    word-wrap: break-word;
}

/* NAVBAR */

.auth-button {
    text-align:center;
    display: inline-block;
}

.navbar {
    line-height: 20px;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    width:50px;
    height:50px;
}

/* TAG EDITOR */

.tag  {
    color:#77b300;
    padding: 5px;
}

.tag-input {
    padding:15px;
}

.tag-entry {
    float:left;
    padding: 5px;
    color: #77b300;
}

.tags-field {
    padding-left:7px;
    white-space: nowrap;
}

.fade {
    width: 47%;
    max-width: 47%;
}
/* STATISTICS */

.before-viz {
    padding-top:60px;
}

.viz {
    display: inline-block;
    padding:5px;
}

.viz-time-frame-switcher {
    display: inline-block;
    padding-bottom:15px;
}

.viz-time-frame-text {
    display: inline-block;
    min-width:150px;
    padding:5px;
}

.viz-time-frame-button {
    width: 35px;
}

.viz-time-frame-button img {
    width: 15px;
    height: 15px;
}


