
@media only screen and (max-width: 1680px) {
  /* TASKS */

  .list-item-text {
      text-align: left;
      display: inline-block;
      padding:8px;
      width:45%;
      word-wrap: break-word;
      vertical-align: middle;
  }

  .task-badges {
      display: inline-block;
      text-align: left;
      width:30%;
      margin-right: 50px;
  }

  /* POMODOROS */

  .finished-pomodoros-date-field {
      display: inline-block;
      text-align: left;
      width: 30%;
      vertical-align: middle;
      margin-right: 55px;
  }
}

@media only screen and (max-width: 1500px) {
  /* TASKS */

  .list-item-text {
      text-align: left;
      display: inline-block;
      padding:8px;
      width:50%;
      word-wrap: break-word;
      vertical-align: middle;
  }

  .task-badges {
      display: inline-block;
      text-align: left;
      width:26%;
      margin-right: 50px;
  }

  /* POMODOROS */

  .finished-pomodoros-date-field {
      display: inline-block;
      text-align: left;
      width: 30%;
      vertical-align: middle;
      margin-right: 55px;
  }
}

@media only screen and (max-width: 1313px) {
  /* POMODOROS */

  .finished-pomodoros-date-field {
      display: inline-block;
      text-align: left;
      width: 33%;
      vertical-align: middle;
      margin-right: 55px;
  }
  .finished-pomodoros-title-field {
      display: inline-block;
      text-align: left;
      width:55%; 
      vertical-align: middle;
  }
}

@media only screen and (max-width: 1206px) {
  /* TASKS */

  .task-badges {
      display: inline-block;
      text-align: left;
      width:20%;
      margin-right: 50px;
  }
  /* POMODOROS */

  .finished-pomodoros-date-field {
      display: inline-block;
      text-align: left;
      width: 40%;
      vertical-align: middle;
      margin-right: 55px;
  }
  .finished-pomodoros-title-field {
      display: inline-block;
      text-align: left;
      width:40%; 
      vertical-align: middle;
  }
}

@media only screen and (max-width: 1021px) {
  /* TASKS */

  .task-badges {
      display: inline-block;
      text-align: left;
      width:19%;
      margin-right: 50px;
  }
  /* POMODOROS */

  .finished-pomodoros-date-field {
      display: inline-block;
      text-align: left;
      width: 41%;
      vertical-align: middle;
      margin-right: 55px;
  }
  .finished-pomodoros-title-field {
      display: inline-block;
      text-align: left;
      width:40%; 
      vertical-align: middle;
  }
}

@media only screen and (max-width: 991px) {
  /* TASKS */

  .task-badges {
      display: inline-block;
      text-align: left;
      width:30%;
      margin-right: 50px;
  }

  /* FILTER FINISHED POMODOROS DROPDOWN */
  .filter-finished-pomos-dropdown {
        text-align:left;
  }
  .fade {
      min-width:95%;
  }
}

@media only screen and (max-width: 723px) {
  /* TASKS */

  .task-badges {
      display: inline-block;
      text-align: left;
      width:18%;
      margin-right: 50px;
  }
  /* POMODOROS */

  .finished-pomodoros-date-field {
      display: inline-block;
      text-align: left;
      width: 43%;
      vertical-align: middle;
      margin-right: 55px;
  }
  .finished-pomodoros-title-field {
      display: inline-block;
      text-align: left;
      width:40%; 
      vertical-align: middle;
  }
}

@media only screen and (max-width: 474px) {

  .App {
    text-align: center;
    font-size: 13px;
    font-family: Arial;
  }

  /* TASKS */

  .list-item-text {
      text-align: left;
      display: inline-block;
      padding:8px;
      width:33%;
      word-wrap: break-word;
      vertical-align: middle;
  }

  .task-badges {
      display: inline-block;
      text-align: left;
      width:21%;
      margin-right: 50px;
  }
  /* POMODOROS */

  .date-item-text {
      display: inline-block;
      width:65%;
      vertical-align: middle;
  }

  .finished-pomodoros-date-field {
      display: inline-block;
      text-align: left;
      width: 60%;
      vertical-align: middle;
      margin-right: 55px;
  }
  .finished-pomodoros-title-field {
      display: inline-block;
      text-align: left;
      width:100%; 
      vertical-align: middle;
  }
}
@media only screen and (max-height: 1050px) {
    .scrolling-wrapper {
        height:750px;
    }
}

@media only screen and (max-height: 985px) {
    .scrolling-wrapper {
        height:675px;
    }
}

@media only screen and (max-height: 950px) {
    .scrolling-wrapper {
        height:650px;
    }
}

@media only screen and (max-height: 900px) {
    .scrolling-wrapper {
        height:600px;
    }
}

@media only screen and (max-height: 850px) {
    .scrolling-wrapper {
        height:550px;
    }
}

@media only screen and (max-height: 800px) {
    .scrolling-wrapper {
        height:500px;
    }
}

@media only screen and (max-height: 750px) {
    .scrolling-wrapper {
        height:450px;
    }
}

@media only screen and (max-height: 700px) {
    .scrolling-wrapper {
        height:400px;
    }
}

@media only screen and (max-height: 650px) {
    .scrolling-wrapper {
        height:350px;
    }
}

@media only screen and (max-height: 600px) {
    .scrolling-wrapper {
        height:300px;
    }
}

@media only screen and (max-height: 550px) {
    .scrolling-wrapper {
        height:250px;
    }
}

@media only screen and (max-height: 500px) {
    .scrolling-wrapper {
        height:200px;
    }
}

@media only screen and (max-height: 450px) {
    .scrolling-wrapper {
        height:150px;
    }
}

@media only screen and (max-height: 400px) {
    .scrolling-wrapper {
        height:100px;
    }
}

@media only screen and (max-height: 350px) {
    .scrolling-wrapper {
        height:50px;
    }
}